javascript:
  function trimChar(s, c) {
    if (c === "]") c = "\\]";
    if (c === "\\") c = "\\\\";
    return s.replace(new RegExp(
      "^[" + c + "]+|[" + c + "]+$", "g"
    ), "");
  }
  window.PAGE_PATH = function() { return trimChar(window.location.hostname + window.location.pathname + window.location.search + window.location.hash, "#"); };
  window.RELATIVE_PAGE_PATH = function() { return trimChar(window.location.pathname + window.location.search + window.location.hash, "#"); };
  window.RELATIVE_PAGE_PATH_HASHED = function(hash) { return trimChar(window.location.pathname + window.location.search + hash, "#"); };
- if @can_show_analytics && ENV['GOOGLE_TAG_MANAGER'].present? && !user_signed_in?
  /! Google Tag Manager
  javascript:
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',"#{ENV['GOOGLE_TAG_MANAGER']}");
  /! End Google Tag Manager

- if @can_show_analytics && ENV['GOOGLE_ANALYTICS_CODE'].present? && !user_signed_in?
  script async="" src="https://www.googletagmanager.com/gtag/js?id=#{ENV['GOOGLE_ANALYTICS_CODE']}" 
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    window.GA_CODE = "#{ENV['GOOGLE_ANALYTICS_CODE']}";
    gtag('config', window.GA_CODE, { 'send_page_view': false });
    gtag('config', window.GA_CODE, {'page_path': window.RELATIVE_PAGE_PATH()});
- if @can_show_analytics && ENV['GOOGLE_ADWORDS_CODE'].present? && !user_signed_in?
  javascript:
    gtag('config', "#{ENV['GOOGLE_ADWORDS_CODE']}");
  - if ENV['GOOGLE_ADWORDS_EVENT'].present? && !user_signed_in?
    javascript:
      // Event snippet for Conversão para site conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
      function gtag_report_conversion(url) { var callback = function () { if (typeof(url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': "#{ENV['GOOGLE_ADWORDS_CODE']}/#{ENV['GOOGLE_ADWORDS_EVENT']}", 'event_callback': callback }); return false; } </script>
    - if @show_sumo
      javascript:
        $(document).ready(function() {
          var tries = 0;
          function checkSumoMe() {
            var sumoButtons = $('.sumome-contactform-pullouttab');
            if (sumoButtons.length > 0) {
              sumoButtons.bind( "click", function() {
                gtag_report_conversion("#{root_url}/#contact-form");
              });
            } else {
              if (tries < 50) {
                tries++;
                setTimeout(function() { checkSumoMe(); }, 250);
              }
            }
          }
          setTimeout(function() { checkSumoMe(); }, 500);
        });
  - if @can_show_analytics && ENV['FACEBOOK_PIXEL'].present? && !user_signed_in?
    /! Facebook Pixel Code
    javascript:
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', "#{ENV['FACEBOOK_PIXEL']}");
      fbq('track', 'PageView');
    noscript
      img height="1" src="https://www.facebook.com/tr?id=#{ENV['FACEBOOK_PIXEL']}&ev=PageView&noscript=1" style="display:none" width="1" /
    /! End Facebook Pixel Code
