javascript:
  window.PAGE_PATH = function() { return window.location.hostname + window.location.pathname + window.location.search + window.location.hash; };
  window.RELATIVE_PAGE_PATH = function() { return window.location.pathname + window.location.search + window.location.hash; };
- if ENV['GOOGLE_ANALYTICS_CODE'].present?
  script async="" src="https://www.googletagmanager.com/gtag/js?id=#{ENV['GOOGLE_ANALYTICS_CODE']}" 
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    window.GA_CODE = "#{ENV['GOOGLE_ANALYTICS_CODE']}";
    gtag('config', window.GA_CODE, { 'send_page_view': false });
    gtag('config', window.GA_CODE, {'page_path': window.RELATIVE_PAGE_PATH()});
