#about {
  background-color: $base-black;
  color: $base-white;

  h2, h2 span {
    color: $base-yellow;
    font-family: $title-text-font-family;
    font-size: 65px;
    width: 100%;
    letter-spacing: $title-letter-spacing;
    text-align: left;
  }
  strong {
    font-family: $title-2-text-font-family;
    font-size: 30px;
    font-weight: light;
    letter-spacing: 3px;
    font-weight: normal;

    color: $base-white;
  }
  .text {
    margin-top: $sections-margin-vertical-mobile;
    max-width: 100%;
    padding-left: 0px;
    padding-top: 50px;

    background-image: image_url('pattern-about.png');
    background-repeat: no-repeat;
    background-position: top center;
    // background-origin: content-box;
    @include bg_size(135px auto);

    p {
      color: $base-text-white;
    }
  }
  @include above_mobile_portrait() {
    .text {
      margin-top: $sections-margin-vertical;
      padding-left: 160px;
      padding-top: 0px;
      background-position: top left;
    }
  }
}