header {
  @include mq($from: tablet) {
    width: 100%;
    height: $header-height;
    background-color: $base-bg-header;
    position: fixed;
    z-index: 1000;
    top: 0px;

    & > * {
      height: 100%;
      img {
        margin: 13px $sections-margin-side;
      }
    }

    .current {
      float: left;
    }

    .menu {
      float: right;
      height: 100%;
    }
  }
}