#main {
  padding: 10px;
  padding-left: $sections-margin-side-mobile;
  padding-right: $sections-margin-side-mobile;
  padding-top: 10px;

  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;

  text-align: center;
  vertical-align: bottom;
  overflow: hidden;

  background-image: image_url('pattern-nucleo-header.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-origin: content-box;
  @include bg_size(auto 294px);

  h1, h2, h3 {
    font-family: $body-text-font-family;
  }

  &:after {
    clear: both;
  }

  .content {
    text-align: center;
    max-width: 100%;
    margin: auto;
    padding-top: 290px;
    overflow: hidden;
  }

  h1 {
    float: left;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  h2, h3 {
    float: right;
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: normal;
  }
  h3 {
    color: $base-blue-greenish;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
  }
  .more {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;

    float: right;
    width: 100%;
    text-align: center;

    a {
      color: $base-black;
      border: $base-gray-light solid 3px;
      border-top: none;
      text-transform: uppercase;
      display: inline-block;
      width: auto;

      font-size: $button-main-font-size;
      line-height: $button-main-font-size;
      padding-bottom: $button-main-padding-bottom;
      padding-left: $button-standard-padding-side;
      padding-right: $button-standard-padding-side;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @include above_mobile_portrait() {
    min-height: 294px;
    height: auto;
    max-height: auto;
    padding: inherit;
    padding-left: inherit;
    padding-right: inherit;

    .content {
      max-width: 720px;
      padding-top: 310px;
    }

    h1 {
      width: 50%;
    }

    h2, h3 {
      width: 50%;
      padding-left: 30px;
      text-align: left;
    }
    h2 {
      margin-top: 50px;
    }

    .more {
      margin-top: $sections-margin-vertical;
      width: 50%;
      text-align: left;
    }
  }
}