#portfolio {
  @include mq($from: tablet) {
    transition: margin-right 0.5s ease-out;
    margin-right: -100vw;

    // background-color: transparentize($base-white, 0.1);

    display: none;
    position: absolute;
    height: auto;
    top: $header-height;
    right: 0px;
    width: 100%;

    padding: 0px;
    overflow: hidden;
    overflow-y: visible;

    &:before {
      content: "";
      position: fixed;
      display: block;
      width: 100%;
      top: $header-height;
      bottom: 0px;
      padding: 0px;
      background-color: transparentize($base-white, 0.1);
      z-index: 101;

      opacity: 1;
      transition: right 0.5s ease-out;
      right: -100vw;
    }

    .content {
      display: block;
      width: 100%;
      height: auto;
      padding: 0px;
      z-index: 102;
      position: relative;

      opacity: 1;
      transition: margin-right 0.5s ease-out;
      margin-right: -100vw;
    }

    &.shown {
      transition: margin-right 0s ease-in;
      margin-right: 0px;

      .content {
        transition: margin-right 0.5s ease-in;
        margin-right: 0px;
      }

      .sub-menu {
        display: block;
      }

      &:before {
        transition: margin-right 0.5s ease-in;
        right: 0px;
      }
    }

    .sub-menu {
      display: none;
      z-index: 10001;
      position: fixed;
      top: 0px;
      right: 0px;
      background-color: $base-bg-header;
      margin: 13px $sections-margin-side;

      img {
        margin-left: 15px;
      }

      .open-related-portfolio {
        display: none;
        &.shown {
          display: inline-block;
        }
      }
    }

    .close-portfolio {
      position: relative;
      display: inline-block;
      float: none;
    }

    ul.projects {
      list-style-type: none;
      padding-left: 0px;
      & > li.project {
        padding-left: 0px;
        position: relative;
        display: inline-block;
        width: 50%;
        max-width: 50%;
        height: auto;

        & > a, .fields {
          position: relative;
          display: block;
        }

        img {
          width: 100%;
          height: auto;
        }
        .info {
          display: none;
          position: absolute;
          width: 100%;
          top:0px;
          bottom:0px;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            top:0px;
            bottom:0px;
            background-color: transparentize($base-green, 0.1);
          }
          .name {
            display: block;
            position: relative;
            width: 80%;
            margin: auto;
            margin-top: 30%;
            border-bottom: 1px solid $base-white;

            font-family: $title-text-font-family;
            font-size: 40px;
            font-weight: normal;
            color: $base-white;
          }
          strong {
            font-weight: inherit;
          }
          .producer {
            display: block;
            position: relative;
            width: 80%;
            margin: auto;
            margin-top: 15px;

            font-family: $body-text-font-family;
            font-size: 25px;
            line-height: 25px;
            font-weight: normal;
            color: $base-white;
          }
        }

        &:hover {
          .info {
            display: block;
          }
        }
      }
    }

    .project-container {
      display: none;
      z-index: 102;
      padding-left: $sections-margin-side;
      padding-right: $sections-margin-side;

      .project-slick {
        max-width: 100%;
        overflow-x: hidden;
      }

      .list-container {
        display: block;
        width: 100%;
        max-width: 1200px;
        margin: auto;
      }

      .project-item, .template {
        position: relative;

        max-width: 100%;
        width: 1080px;
        margin: auto;
        padding-top: $sections-margin-side;

        &.shown {
          // display: block;
        }
        &.slick-slide {
          visibility: visible;
        }

        .info {
          width: 70%;
          float: left;
          padding-right: 10px;
        }

        .categories {
          width: 30%;
          float: right;
        }

        .name {
          font-family: $body-text-font-family;
          font-size: 45px;
        }
        .summary {
          width: 100%;
        }
        .producer {
          font-family: $body-text-font-family;
          font-size: 25px;
          .nucleo {
            font-weight: bold;
          }
        }
        .thumb_image {
          float: right;
          width: 30%;
          text-align: right;
          img {
            max-width: 100%;
          }
        }
        .image {
          clear: both;
          img {
            margin-top: 20px;
            width: 100%;
            max-width: 100%;
            height: auto;
          }
        }
      }

      .actions {
        position: absolute;
        z-index: 2003;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        top: 30px;

        .move-to-next, .move-to-previous {
          position: absolute;
          top: 250px;
          top: 40vh;
        }
        .move-to-next {
          right: -70px;
        }
        .move-to-previous {
          left: -70px;
        }
      }
    }

    #new-project {
      display: none;
    }
  }
}