body {
  font-family: $body-text-font-family;
  font-size: 16px;
}

section {
  clear: both;
  padding-left: $sections-margin-side-mobile;
  padding-right: $sections-margin-side-mobile;

  .content {
    max-width: 100%;
    width: 900px;
    margin: auto;
    padding-top: $sections-margin-vertical-mobile;
    padding-bottom: $sections-margin-vertical-mobile;
  }

  &#main {
    margin-top: $header-height;
  }

  .slick-disabled {
    display: none !important;
  }
}

.close-section-button {
  float: right;
  img {
    margin: 13px $sections-margin-side;
  }

  @include above_mobile_portrait() {
    padding-left: $sections-margin-side;
    padding-right: $sections-margin-side;

    .content {
      padding-top: $sections-margin-vertical;
      padding-bottom: $sections-margin-vertical;
    }
  }
}

a {
  text-decoration: none;
}

.noscroll {
  overflow: hidden;
}