$sections-margin-side: 75px;
$base-black: #000;
$base-gray-light: #d1cfcd;
$base-blue-greenish: #00a19c;

$button-standard-font-size: 20px;
$button-standard-padding-bottom: 10px;
$button-standard-padding-side: 40px;

$button-main-font-size: 20px;
$button-main-padding-bottom: 10px;

$header-height:61px;

$body-text-font-family: 'Raleway', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$title-text-font-family: 'Bebas Neue', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;