$sections-margin-side: 75px;
$sections-margin-side-mobile: 20px;
$sections-margin-vertical: 70px;
$sections-margin-vertical-mobile: 20px;
$base-bg-header: #0a2a3b;
$base-black: #0a0a0a;
$base-white: #fff;
$base-gray-light: #d1cfcd;
$base-gray: #3d3d3d;
$base-blue-greenish: #13928a;
$base-green: #00968f;
$base-yellow: #fcca00;

$base-text-white: darken($base-white, 15%);
$menu-margin-vertical: $sections-margin-vertical;
$menu-margin-vertical-mobile: $sections-margin-vertical-mobile;

$button-standard-font-size: 1.3em;
$button-standard-padding-bottom: 10px;
$button-standard-padding-side: 40px;

$button-main-font-size: 1.3em;
$button-main-padding-bottom: 10px;

$header-height:61px;

$body-text-font-family: 'Raleway', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$title-text-font-family: 'Bebas Neue', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$title-2-text-font-family: 'Bebas Neue Regular', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

$title-letter-spacing: 6px;